<div class="row row-margin-top">

                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>#</th>
                                    <th>Creation Time</th>
                                    <th>Side</th>
                                    <th>Symbol</th>
                                    <th>Qty</th>
                                    <th>Qty Placed</th>
                                    <th>Qty Executed</th>
                                    <th>Limit Price</th>
                                    <th>Priority</th>
                                    <th>Status</th>
                                    <th>Trader Id</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr data-ng-repeat="order in vm.orders">
                                    <td data-ng-bind="order.id" class="text-right"></td>
                                    <td data-ng-bind="order.creationTime | date:'medium'"></td>
                                    <td data-ng-bind="order.side" class="text-center"></td>
                                    <td data-ng-bind="order.symbol" class="text-center"></td>
                                    <td data-ng-bind="order.quantity | number" class="text-right"></td>
                                    <td data-ng-bind="order.quantityPlaced | number" class="text-right"></td>
                                    <td data-ng-bind="order.quantityExecuted | number" class="text-right"></td>
                                    <td data-ng-bind="order.limitPrice | currency" class="text-right"></td>
                                    <td data-ng-bind="order.priority" class="text-right"></td>
                                    <td data-ng-bind="order.status" class="text-center"></td>
                                    <td data-ng-bind="order.traderId" class="text-center"></td>
                                </tr>
                                <tr data-ng-if="vm.orders.length <= 0">
                                    <td colspan="11" class="alert alert-warning" role="alert">no orders available</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


    </div><!-- row -->