<div class="row row-margin-top">
    <div class="col-xs-7 btn-group">
        <button type="button" class="btn btn-default btn-responsive" ng-click="dvm.openTrade()">Trade</button>
        <button type="button" class="btn btn-default btn-responsive" ng-click="vm.deleteAll()">Delete All</button>
        <button type="button" class="btn btn-default btn-responsive" ng-click="vm.refresh()">Refresh</button>
    </div>
    <div class="col-xs-5">
        <div class="pull-right btn-group">
            <button type="button" class="btn btn-default" ng-click="dvm.go('/')">
              <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="dvm.go('/chart')">
              <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
<script type="text/ng-template" id="tradeDialog">
        <div class="ngdialog-message">
            <div class="form-group row-margin-top">
                <label for="qty">Enter number of trades</label>
                <input type="number" min="1" class="form-control" ng-model="qty" required>
            </div>
        </div>
        <div class="ngdialog-buttons mt">
            <button type="button" class="btn btn-primary" ng-click="submitTrade()">Create</button>
            <button type="button" class="btn btn-default" ng-click="closeThisDialog()">Cancel</button>
        </div>
</script>